<a href="https://colab.research.google.com/github/kim-bo-saeng/dacon_jeju/blob/master/jeju_data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /gdrive

### 라이브러리 가져오기

In [2]:
import pandas as pd
import numpy as np
import sklearn as sk
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import cross_val_predict
from sklearn.metrics import r2_score
from sklearn.preprocessing import LabelEncoder

### 데이터 전처리

In [3]:
def grap_year(data):
  data = str(data)
  return int(data[:4])

def grap_month(data):
  data = str(data)
  return int(data[4:])

In [4]:
# 날짜 처리
data = pd.read_csv('/gdrive/My Drive/data_analysis/201901-202003.csv')
data = data.fillna('')
data['year'] = data['REG_YYMM'].apply(lambda x : grap_year(x))
data['month'] = data['REG_YYMM'].apply(lambda x : grap_month(x))
data = data.drop(['REG_YYMM'], axis = 1)
print(data.shape)
data.tail()

(24697792, 13)

         CARD_SIDO_NM CARD_CCG_NM STD_CLSS_NM  ... CNT  year month
24697787           충북         충주시    휴양콘도 운영업  ...   4  2020     3
24697788           충북         충주시    휴양콘도 운영업  ...   3  2020     3
24697789           충북         충주시    휴양콘도 운영업  ...   6  2020     3
24697790           충북         충주시    휴양콘도 운영업  ...   6  2020     3
24697791           충북         충주시    휴양콘도 운영업  ...   3  2020     3

[5 rows x 13 columns]

In [7]:
# 데이터 정제
df = data.copy()
df = df.drop(['CARD_CCG_NM', 'HOM_CCG_NM'], axis = 1)

columns = ['CARD_SIDO_NM', 'STD_CLSS_NM', 'HOM_SIDO_NM',	'AGE',	'SEX_CTGO_CD',	'FLC',	'year',	'month']
df = df.groupby(columns).sum().reset_index(drop=False)

print(df.info())
df.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1057394 entries, 0 to 1057393
Data columns (total 11 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   CARD_SIDO_NM  1057394 non-null  object
 1   STD_CLSS_NM   1057394 non-null  object
 2   HOM_SIDO_NM   1057394 non-null  object
 3   AGE           1057394 non-null  object
 4   SEX_CTGO_CD   1057394 non-null  int64
 5   FLC           1057394 non-null  int64
 6   year          1057394 non-null  int64
 7   month         1057394 non-null  int64
 8   CSTMR_CNT     1057394 non-null  int64
 9   AMT           1057394 non-null  int64
 10  CNT           1057394 non-null  int64
dtypes: int64(7), object(4)
memory usage: 88.7+ MB
None

        CARD_SIDO_NM STD_CLSS_NM HOM_SIDO_NM  ... CSTMR_CNT     AMT  CNT
1057389           충북    휴양콘도 운영업          충북  ...         3  148000    4
1057390           충북    휴양콘도 운영업          충북  ...         5  329800    7
1057391           충북    휴양콘도 운영업          충북  ...         7  557800    7
1057392           충북    휴양콘도 운영업          충북  ...         3  247800    3
1057393           충북    휴양콘도 운영업          충북  ...         3  230400    3

[5 rows x 11 columns]

In [8]:
# 인코딩
dtypes = df.dtypes
encoders = {}

for column in df.columns:
  if str(dtypes[column]) == 'object':
    encoder = LabelEncoder()
    encoder.fit(df[column])
    encoders[column] = encoder

df_num = df.copy()
for column in encoders.keys():
  encoder = encoders[column]
  df_num[column] = encoder.transform(df[column])

print(df_num.info())
df_num.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1057394 entries, 0 to 1057393
Data columns (total 11 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   CARD_SIDO_NM  1057394 non-null  int64
 1   STD_CLSS_NM   1057394 non-null  int64
 2   HOM_SIDO_NM   1057394 non-null  int64
 3   AGE           1057394 non-null  int64
 4   SEX_CTGO_CD   1057394 non-null  int64
 5   FLC           1057394 non-null  int64
 6   year          1057394 non-null  int64
 7   month         1057394 non-null  int64
 8   CSTMR_CNT     1057394 non-null  int64
 9   AMT           1057394 non-null  int64
 10  CNT           1057394 non-null  int64
dtypes: int64(11)
memory usage: 88.7 MB
None

         CARD_SIDO_NM  STD_CLSS_NM  HOM_SIDO_NM  ...  CSTMR_CNT     AMT  CNT
1057389            16           40           16  ...          3  148000    4
1057390            16           40           16  ...          5  329800    7
1057391            16           40           16  ...          7  557800    7
1057392            16           40           16  ...          3  247800    3
1057393            16           40           16  ...          3  230400    3

[5 rows x 11 columns]

### Feature Enginnering & Initial Modeling

In [9]:
train_num = df_num.sample(frac = 1, random_state = 0)
train_features = train_num.drop(['CSTMR_CNT',	'AMT',	'CNT'], axis = 1)
train_target = np.log1p(train_num['AMT'])

### Model Tuning & Evaluation

In [10]:
model = RandomForestRegressor(n_jobs = -1, random_state = 0)
model.fit(train_features, train_target)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=-1, oob_score=False,
                      random_state=0, verbose=0, warm_start=False)

### Conclusion & Discussion

In [21]:
# 예측 템플릿 만들기
CARD_SIDO_NMs = df_num['CARD_SIDO_NM'].unique()
STD_CLSS_NMs  = df_num['STD_CLSS_NM'].unique()
HOM_SIDO_NMs  = df_num['HOM_SIDO_NM'].unique()
AGEs          = df_num['AGE'].unique()
SEX_CTGO_CDs  = df_num['SEX_CTGO_CD'].unique()
FLCs          = df_num['FLC'].unique()
years         = [2020]
months        = [4, 7]

temp = []
for CARD_SIDO_NM in CARD_SIDO_NMs:
    for STD_CLSS_NM in STD_CLSS_NMs:
        for HOM_SIDO_NM in HOM_SIDO_NMs:
            for AGE in AGEs:
                for SEX_CTGO_CD in SEX_CTGO_CDs:
                    for FLC in FLCs:
                        for year in years:
                            for month in months:
                                temp.append([CARD_SIDO_NM, STD_CLSS_NM, HOM_SIDO_NM, AGE, SEX_CTGO_CD, FLC, year, month])
temp = np.array(temp)
temp = pd.DataFrame(data=temp, columns=train_features.columns)
print(temp.shape)
temp.head()

(1658860, 8)

   CARD_SIDO_NM  STD_CLSS_NM  HOM_SIDO_NM  AGE  SEX_CTGO_CD  FLC  year  month
0             0            0            0    1            1    1  2020      4
1             0            0            0    1            1    1  2020      7
2             0            0            0    1            1    2  2020      4
3             0            0            0    1            1    2  2020      7
4             0            0            0    1            1    3  2020      4

In [22]:
# 예측
predict = model.predict(temp)
predict = np.expm1(predict)
temp['AMT'] = np.round(predict, 0)
temp['REG_YYMM'] = temp['year']*100 + temp['month']
temp = temp[['REG_YYMM', 'CARD_SIDO_NM', 'STD_CLSS_NM', 'AMT']]
temp = temp.groupby(['REG_YYMM', 'CARD_SIDO_NM', 'STD_CLSS_NM']).sum().reset_index(drop=False)
temp

      REG_YYMM  CARD_SIDO_NM  STD_CLSS_NM           AMT
0       202004             0            0  5.074107e+08
1       202004             0            1  6.962323e+09
2       202004             0            2  1.815306e+09
3       202004             0            3  9.742804e+07
4       202004             0            4  9.379857e+07
...        ...           ...          ...           ...
1389    202007            16           36  1.805664e+09
1390    202007            16           37  2.552181e+10
1391    202007            16           38  2.060235e+08
1392    202007            16           39  1.307819e+09
1393    202007            16           40  4.934440e+08

[1394 rows x 4 columns]

In [23]:
# 디코딩
temp['CARD_SIDO_NM'] = encoders['CARD_SIDO_NM'].inverse_transform(temp['CARD_SIDO_NM'])
temp['STD_CLSS_NM'] = encoders['STD_CLSS_NM'].inverse_transform(temp['STD_CLSS_NM'])

In [26]:
# 제출 파일 만들기
submission = pd.read_csv('/gdrive/My Drive/data_analysis/submission.csv', index_col=0)
submission = submission.drop(['AMT'], axis=1)
submission = submission.merge(temp, left_on=['REG_YYMM', 'CARD_SIDO_NM', 'STD_CLSS_NM'], right_on=['REG_YYMM', 'CARD_SIDO_NM', 'STD_CLSS_NM'], how='left')
submission.index.name = 'id'
submission.to_csv('/gdrive/My Drive/data_analysis/submission_01.csv', encoding='utf-8-sig')
submission.head()

    REG_YYMM CARD_SIDO_NM           STD_CLSS_NM           AMT
id
0     202004           강원            건강보조식품 소매업  5.074107e+08
1     202004           강원               골프장 운영업  6.962323e+09
2     202004           강원           과실 및 채소 소매업  1.815306e+09
3     202004           강원     관광 민예품 및 선물용품 소매업  9.742804e+07
4     202004           강원  그외 기타 분류안된 오락관련 서비스업  9.379857e+07