<a href="https://colab.research.google.com/github/kim-bo-saeng/dacon_jeju/blob/master/jeju_data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [4]:
from google.colab import drive
drive.mount('/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /gdrive

In [3]:
submission = pd.read_csv('/gdrive/My Drive/data_analysis/submission.csv')
print(submission.shape)
submission.tail()

(1394, 5)

        id  REG_YYMM CARD_SIDO_NM            STD_CLSS_NM  AMT
1389  1389    202007           충북  피자 햄버거 샌드위치 및 유사 음식점업    0
1390  1390    202007           충북                한식 음식점업    0
1391  1391    202007           충북                    호텔업    0
1392  1392    202007           충북          화장품 및 방향제 소매업    0
1393  1393    202007           충북               휴양콘도 운영업    0

In [4]:
train = pd.read_csv('/gdrive/My Drive/data_analysis/201901-202003.csv')
print(train.shape)
train.tail()

(24697792, 12)

          REG_YYMM CARD_SIDO_NM CARD_CCG_NM  ... CSTMR_CNT     AMT CNT
24697787    202003           충북         충주시  ...         3   43300   4
24697788    202003           충북         충주시  ...         3   35000   3
24697789    202003           충북         충주시  ...         4  188000   6
24697790    202003           충북         충주시  ...         4   99000   6
24697791    202003           충북         충주시  ...         3  194000   3

[5 rows x 12 columns]

In [5]:
train.head()

   REG_YYMM CARD_SIDO_NM CARD_CCG_NM STD_CLSS_NM  ... FLC CSTMR_CNT      AMT  CNT
0    201901           강원         강릉시  건강보조식품 소매업  ...   1         4   311200    4
1    201901           강원         강릉시  건강보조식품 소매업  ...   2         7  1374500    8
2    201901           강원         강릉시  건강보조식품 소매업  ...   2         6   818700    6
3    201901           강원         강릉시  건강보조식품 소매업  ...   3         4  1717000    5
4    201901           강원         강릉시  건강보조식품 소매업  ...   4         3  1047300    3

[5 rows x 12 columns]

In [6]:
train.isnull().sum()

REG_YYMM             0
CARD_SIDO_NM         0
CARD_CCG_NM      87213
STD_CLSS_NM          0
HOM_SIDO_NM          0
HOM_CCG_NM      147787
AGE                  0
SEX_CTGO_CD          0
FLC                  0
CSTMR_CNT            0
AMT                  0
CNT                  0
dtype: int64

In [7]:
mini_train = train[["REG_YYMM", "CARD_SIDO_NM", "STD_CLSS_NM", "AMT"]]
mini_train.head()

   REG_YYMM CARD_SIDO_NM STD_CLSS_NM      AMT
0    201901           강원  건강보조식품 소매업   311200
1    201901           강원  건강보조식품 소매업  1374500
2    201901           강원  건강보조식품 소매업   818700
3    201901           강원  건강보조식품 소매업  1717000
4    201901           강원  건강보조식품 소매업  1047300

In [8]:
pivot_mini_train = pd.pivot_table(data = mini_train, index = ["STD_CLSS_NM","CARD_SIDO_NM", "REG_YYMM"], fill_value = "AMT", aggfunc = "sum")
pivot_mini_train.head()

                                         AMT
STD_CLSS_NM CARD_SIDO_NM REG_YYMM
건강보조식품 소매업  강원           201901    148354746
                         201902    146715871
                         201903    109439025
                         201904    106548473
                         201905    148115738

In [9]:
pivot_mini_train.reset_index(inplace = True)
pivot_mini_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9438 entries, 0 to 9437
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   STD_CLSS_NM   9438 non-null   object
 1   CARD_SIDO_NM  9438 non-null   object
 2   REG_YYMM      9438 non-null   int64
 3   AMT           9438 non-null   int64
dtypes: int64(2), object(2)
memory usage: 295.1+ KB

In [10]:
def change_mm(data):
  if data > 201913:
    return data - 202000
  else:
    return data - 201900

pivot_mini_train["REG_MM"] = pivot_mini_train["REG_YYMM"].apply(change_mm)
pivot_mini_train[["REG_YYMM", "REG_MM"]]

      REG_YYMM  REG_MM
0       201901       1
1       201902       2
2       201903       3
3       201904       4
4       201905       5
...        ...     ...
9433    201911      11
9434    201912      12
9435    202001       1
9436    202002       2
9437    202003       3

[9438 rows x 2 columns]

In [11]:
pivot_mini_train

     STD_CLSS_NM CARD_SIDO_NM  REG_YYMM        AMT  REG_MM
0     건강보조식품 소매업           강원    201901  148354746       1
1     건강보조식품 소매업           강원    201902  146715871       2
2     건강보조식품 소매업           강원    201903  109439025       3
3     건강보조식품 소매업           강원    201904  106548473       4
4     건강보조식품 소매업           강원    201905  148115738       5
...          ...          ...       ...        ...     ...
9433    휴양콘도 운영업           충북    201911  124117555      11
9434    휴양콘도 운영업           충북    201912  139568962      12
9435    휴양콘도 운영업           충북    202001  222073112       1
9436    휴양콘도 운영업           충북    202002   47085830       2
9437    휴양콘도 운영업           충북    202003   12733490       3

[9438 rows x 5 columns]

In [13]:
import statsmodels.api as sm


model = sm.OLS.from_formula("AMT ~ C(STD_CLSS_NM) + C(REG_MM) + C(CARD_SIDO_NM)", pivot_mini_train)
result = model.fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    AMT   R-squared:                       0.492
Model:                            OLS   Adj. R-squared:                  0.488
Method:                 Least Squares   F-statistic:                     135.3
Date:                Tue, 30 Jun 2020   Prob (F-statistic):               0.00
Time:                        14:17:16   Log-Likelihood:            -2.3356e+05
No. Observations:                9438   AIC:                         4.673e+05
Df Residuals:                    9370   BIC:                         4.677e+05
Df Model:                          67
Covariance Type:            nonrobust
===========================================================================================================
                                              coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------------
Intercept                               -2.635e+09   1.07e+09     -2.453      0.014   -4.74e+09   -5.29e+08
C(STD_CLSS_NM)[T.골프장 운영업]                1.924e+09    1.2e+09      1.600      0.110   -4.33e+08    4.28e+09
C(STD_CLSS_NM)[T.과실 및 채소 소매업]            2.015e+09    1.2e+09      1.676      0.094   -3.42e+08    4.37e+09
C(STD_CLSS_NM)[T.관광 민예품 및 선물용품 소매업]     -3.827e+08    1.2e+09     -0.318      0.751   -2.74e+09    1.98e+09
C(STD_CLSS_NM)[T.그외 기타 분류안된 오락관련 서비스업]  -4.208e+07   2.03e+09     -0.021      0.983   -4.02e+09    3.94e+09
C(STD_CLSS_NM)[T.그외 기타 스포츠시설 운영업]       -8.755e+08   1.22e+09     -0.715      0.475   -3.28e+09    1.52e+09
C(STD_CLSS_NM)[T.그외 기타 종합 소매업]            3.61e+09    1.2e+09      3.002      0.003    1.25e+09    5.97e+09
C(STD_CLSS_NM)[T.기타 대형 종합 소매업]           2.833e+10    1.2e+09     23.560      0.000     2.6e+10    3.07e+10
C(STD_CLSS_NM)[T.기타 수상오락 서비스업]          -1.293e+09   1.26e+09     -1.027      0.305   -3.76e+09    1.18e+09
C(STD_CLSS_NM)[T.기타 외국식 음식점업]            2.032e+09    1.2e+09      1.690      0.091   -3.25e+08    4.39e+09
C(STD_CLSS_NM)[T.기타 주점업]                 2.338e+08    1.2e+09      0.194      0.846   -2.12e+09    2.59e+09
C(STD_CLSS_NM)[T.기타음식료품위주종합소매업]          5.742e+09    1.2e+09      4.775      0.000    3.38e+09     8.1e+09
C(STD_CLSS_NM)[T.내항 여객 운송업]             -1.377e+09   1.34e+09     -1.024      0.306   -4.01e+09    1.26e+09
C(STD_CLSS_NM)[T.마사지업]                   -3.33e+08    1.2e+09     -0.277      0.782   -2.69e+09    2.02e+09
C(STD_CLSS_NM)[T.면세점]                     2.23e+09   1.56e+09      1.429      0.153   -8.29e+08    5.29e+09
C(STD_CLSS_NM)[T.버스 운송업]                -8.931e+08   1.35e+09     -0.659      0.510   -3.55e+09    1.76e+09
C(STD_CLSS_NM)[T.비알콜 음료점업]               4.072e+09    1.2e+09      3.387      0.001    1.72e+09    6.43e+09
C(STD_CLSS_NM)[T.빵 및 과자류 소매업]            3.092e+09    1.2e+09      2.572      0.010    7.35e+08    5.45e+09
C(STD_CLSS_NM)[T.서양식 음식점업]               6.444e+09    1.2e+09      5.359      0.000    4.09e+09     8.8e+09
C(STD_CLSS_NM)[T.수산물 소매업]                7.526e+08    1.2e+09      0.626      0.531    -1.6e+09    3.11e+09
C(STD_CLSS_NM)[T.슈퍼마켓]                   2.598e+10    1.2e+09     21.608      0.000    2.36e+10    2.83e+10
C(STD_CLSS_NM)[T.스포츠 및 레크레이션 용품 임대업]     4.473e+09    1.2e+09      3.720      0.000    2.12e+09    6.83e+09
C(STD_CLSS_NM)[T.여관업]                     6.03e+08    1.2e+09      0.502      0.616   -1.75e+09    2.96e+09
C(STD_CLSS_NM)[T.여행사업]                  -1.011e+09   1.28e+09     -0.791      0.429   -3.52e+09     1.5e+09
C(STD_CLSS_NM)[T.욕탕업]                    3.332e+08    1.2e+09      0.277      0.782   -2.02e+09    2.69e+09
C(STD_CLSS_NM)[T.육류 소매업]                  4.16e+09    1.2e+09      3.460      0.001     1.8e+09    6.52e+09
C(STD_CLSS_NM)[T.일반유흥 주점업]               1.711e+09    1.2e+09      1.423      0.155   -6.46e+08    4.07e+09
C(STD_CLSS_NM)[T.일식 음식점업]                2.695e+09    1.2e+09      2.241      0.025    3.38e+08    5.05e+09
C(STD_CLSS_NM)[T.자동차 임대업]               -8.299e+08   1.23e+09     -0.674      0.500   -3.24e+09    1.58e+09
C(STD_CLSS_NM)[T.전시 및 행사 대행업]           -2.427e+06    1.2e+09     -0.002      0.998   -2.36e+09    2.35e+09
C(STD_CLSS_NM)[T.정기 항공 운송업]              4.255e+09    1.7e+09      2.508      0.012     9.3e+08    7.58e+09
C(STD_CLSS_NM)[T.중식 음식점업]                3.322e+09    1.2e+09      2.763      0.006    9.66e+08    5.68e+09
C(STD_CLSS_NM)[T.차량용 가스 충전업]             5.174e+08    1.2e+09      0.430      0.667   -1.84e+09    2.87e+09
C(STD_CLSS_NM)[T.차량용 주유소 운영업]            2.982e+10    1.2e+09     24.799      0.000    2.75e+10    3.22e+10
C(STD_CLSS_NM)[T.체인화 편의점]                2.039e+10    1.2e+09     16.956      0.000     1.8e+10    2.27e+10
C(STD_CLSS_NM)[T.택시 운송업]                 7.477e+09   1.33e+09      5.628      0.000    4.87e+09    1.01e+10
C(STD_CLSS_NM)[T.피자 햄버거 샌드위치 및 유사 음식점업]  3.904e+09    1.2e+09      3.247      0.001    1.55e+09    6.26e+09
C(STD_CLSS_NM)[T.한식 음식점업]                5.346e+10    1.2e+09     44.462      0.000    5.11e+10    5.58e+10
C(STD_CLSS_NM)[T.호텔업]                    6.349e+07   1.22e+09      0.052      0.959   -2.33e+09    2.46e+09
C(STD_CLSS_NM)[T.화장품 및 방향제 소매업]          2.095e+09    1.2e+09      1.742      0.081   -2.62e+08    4.45e+09
C(STD_CLSS_NM)[T.휴양콘도 운영업]              -6.148e+06    1.4e+09     -0.004      0.997   -2.75e+09    2.74e+09
C(REG_MM)[T.2]                           -9.82e+08   5.42e+08     -1.811      0.070   -2.04e+09    8.07e+07
C(REG_MM)[T.3]                          -5.747e+08   5.43e+08     -1.058      0.290   -1.64e+09     4.9e+08
C(REG_MM)[T.4]                          -1.636e+08   6.62e+08     -0.247      0.805   -1.46e+09    1.13e+09
C(REG_MM)[T.5]                           3.483e+08    6.6e+08      0.527      0.598   -9.46e+08    1.64e+09
C(REG_MM)[T.6]                           1.704e+07   6.62e+08      0.026      0.979   -1.28e+09    1.31e+09
C(REG_MM)[T.7]                           1.197e+08    6.6e+08      0.181      0.856   -1.17e+09    1.41e+09
C(REG_MM)[T.8]                           2.556e+08   6.62e+08      0.386      0.699   -1.04e+09    1.55e+09
C(REG_MM)[T.9]                          -2.772e+07   6.64e+08     -0.042      0.967   -1.33e+09    1.27e+09
C(REG_MM)[T.10]                          8.765e+07   6.62e+08      0.132      0.895   -1.21e+09    1.39e+09
C(REG_MM)[T.11]                         -1.142e+08   6.64e+08     -0.172      0.863   -1.42e+09    1.19e+09
C(REG_MM)[T.12]                          3.132e+08   6.62e+08      0.473      0.636   -9.84e+08    1.61e+09
C(CARD_SIDO_NM)[T.경기]                    2.214e+10   8.04e+08     27.531      0.000    2.06e+10    2.37e+10
C(CARD_SIDO_NM)[T.경남]                    3.302e+09      8e+08      4.127      0.000    1.73e+09    4.87e+09
C(CARD_SIDO_NM)[T.경북]                    2.034e+09   8.05e+08      2.527      0.012    4.56e+08    3.61e+09
C(CARD_SIDO_NM)[T.광주]                    9.683e+07   8.14e+08      0.119      0.905    -1.5e+09    1.69e+09
C(CARD_SIDO_NM)[T.대구]                    2.367e+09   8.15e+08      2.905      0.004     7.7e+08    3.96e+09
C(CARD_SIDO_NM)[T.대전]                   -1.269e+09   8.37e+08     -1.516      0.130   -2.91e+09    3.72e+08
C(CARD_SIDO_NM)[T.부산]                    4.804e+09   7.95e+08      6.044      0.000    3.25e+09    6.36e+09
C(CARD_SIDO_NM)[T.서울]                    2.227e+10      8e+08     27.830      0.000    2.07e+10    2.38e+10
C(CARD_SIDO_NM)[T.세종]                   -3.987e+09   8.67e+08     -4.601      0.000   -5.69e+09   -2.29e+09
C(CARD_SIDO_NM)[T.울산]                   -7.149e+08   8.17e+08     -0.875      0.382   -2.32e+09    8.87e+08
C(CARD_SIDO_NM)[T.인천]                    2.367e+09   8.06e+08      2.936      0.003    7.87e+08    3.95e+09
C(CARD_SIDO_NM)[T.전남]                    4.853e+08   8.08e+08      0.601      0.548    -1.1e+09    2.07e+09
C(CARD_SIDO_NM)[T.전북]                    5.051e+08   8.04e+08      0.628      0.530   -1.07e+09    2.08e+09
C(CARD_SIDO_NM)[T.제주]                   -5.107e+08   8.04e+08     -0.635      0.525   -2.09e+09    1.07e+09
C(CARD_SIDO_NM)[T.충남]                    8.935e+08   8.02e+08      1.114      0.265   -6.79e+08    2.47e+09
C(CARD_SIDO_NM)[T.충북]                   -3.989e+08    8.1e+08     -0.493      0.622   -1.99e+09    1.19e+09
==============================================================================
Omnibus:                    10272.104   Durbin-Watson:                   0.149
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1112576.336
Skew:                           5.450   Prob(JB):                         0.00
Kurtosis:                      55.061   Cond. No.                         42.5
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""